[submodule "roms/seabios"]
	path = qemu/roms/seabios
	url = https://git.qemu.org/git/seabios.git/
[submodule "roms/SLOF"]
	path = qemu/roms/SLOF
	url = https://git.qemu.org/git/SLOF.git
[submodule "roms/ipxe"]
	path = qemu/roms/ipxe
	url = https://git.qemu.org/git/ipxe.git
[submodule "roms/openbios"]
	path = qemu/roms/openbios
	url = https://git.qemu.org/git/openbios.git
[submodule "roms/qemu-palcode"]
	path = qemu/roms/qemu-palcode
	url = https://git.qemu.org/git/qemu-palcode.git
[submodule "roms/sgabios"]
	path = qemu/roms/sgabios
	url = https://git.qemu.org/git/sgabios.git
[submodule "dtc"]
	path = qemu/dtc
	url = https://git.qemu.org/git/dtc.git
[submodule "roms/u-boot"]
	path = qemu/roms/u-boot
	url = https://git.qemu.org/git/u-boot.git
[submodule "roms/skiboot"]
	path = qemu/roms/skiboot
	url = https://git.qemu.org/git/skiboot.git
[submodule "roms/QemuMacDrivers"]
	path = qemu/roms/QemuMacDrivers
	url = https://git.qemu.org/git/QemuMacDrivers.git
[submodule "ui/keycodemapdb"]
	path = qemu/ui/keycodemapdb
	url = https://git.qemu.org/git/keycodemapdb.git
[submodule "capstone"]
	path = qemu/capstone
	url = https://git.qemu.org/git/capstone.git
[submodule "roms/seabios-hppa"]
	path = qemu/roms/seabios-hppa
	url = https://git.qemu.org/git/seabios-hppa.git
[submodule "roms/u-boot-sam460ex"]
	path = qemu/roms/u-boot-sam460ex
	url = https://git.qemu.org/git/u-boot-sam460ex.git
[submodule "tests/fp/berkeley-testfloat-3"]
	path = qemu/tests/fp/berkeley-testfloat-3
	url = https://git.qemu.org/git/berkeley-testfloat-3.git
[submodule "tests/fp/berkeley-softfloat-3"]
	path = qemu/tests/fp/berkeley-softfloat-3
	url = https://git.qemu.org/git/berkeley-softfloat-3.git
[submodule "roms/edk2"]
	path = qemu/roms/edk2
	url = https://git.qemu.org/git/edk2.git
[submodule "slirp"]
	path = qemu/slirp
	url = https://git.qemu.org/git/libslirp.git
[submodule "roms/opensbi"]
	path = qemu/roms/opensbi
	url = 	https://git.qemu.org/git/opensbi.git
[submodule "roms/qboot"]
	path = qemu/roms/qboot
	url = https://github.com/bonzini/qboot
